@{
    ViewBag.Title = "General";
}

<style>
    .dataTeble {
        margin-top: 50px;
    }

    input {
        margin-bottom: 50px;
        margin-top: 50px;
    }
</style>
<h2>Главная</h2>
<form method="post">
    <input type="submit" name="action" value="Создать заказ" />
    <input type="submit" name="action" value="Отдать на выполнение" />
    <input type="submit" name="action" value="Заказ готов" />
    <input type="submit" name="action" value="Заказ оплачен" />
    <input type="submit" name="action" value="Обновить список" />
    <br>
    <table class="dataTeble">
        @*@Html.TextBox("DataList")*@
    </table>
    @using VirtualStore;
    @using VirtualStorePlace.LogicInterface;
    @using VirtualStorePlace.ConnectingModel;
    @using VirtualStorePlace.UserViewModel;
    <select name="generalList" multiple>

        @{ int i = 0;
            foreach (CustomerSelectionUserViewModel st in @ViewBag.DataList)
            {
                i++;
                <option value="@i">@st.Id @st.BuyerFIO @st.DateCook @st.DateCreate @st.IngredientName @st.KitchinerName @st.Status @st.Sum @st.Count</option>
            }
        }
</form>


