@{
    ViewBag.Title = "PutOnProductStorage";
}

<style>
    select {
        margin-bottom: 50px;
    }

    .item {
        margin-bottom: 30px;
    }
</style>
<h2><b>Отправить на склад</b></h2><br />
<form action="/PutOnProductStorage/PutOnProductStorage" id="PutOnProductStorage" method="post">
    <select name="selectedItem1" form="PutOnProductStorage">
        @using VirtualStore;
        @using VirtualStorePlace.LogicInterface;
        @using VirtualStorePlace.ConnectingModel;
        @using VirtualStorePlace.UserViewModel;
        @{ int index1 = 0;
            foreach (ElementUserViewModel st in @ViewBag.listC)
            {
                index1++;
                <option value="@index1">@st.ElementName @index1</option>
            }
        }
    </select>
    <select name="selectedItem2" form="PutOnProductStorage">
        @{ int index2 = 0;
            foreach (ProductStorageUserViewModel st in @ViewBag.listS)
            {
                index2++;
                <option value="@index2">@st.ProductStorageName @index2</option>
            }
        }
    </select>
    <div class="item">
        <label>Количество:</label>
        <input name="count" value="" />
    </div>
        <input type="submit" name="action" value="Проверить" />

    <input type="submit" name="action" value="Сохранить" />
</form>
